@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&family=Quicksand:wght@320;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0C223D; 
  }
  
body{
    max-width: 720px;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    background-color: #0C223D;
}

h2{
    margin: 20px 0;
}
p{
    line-height: 2rem;
    margin-bottom: 20px;
}

main{
    padding: 30px 50px;
}

.card{
    background: #fff;
    border: 1px solid #007bff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

label {
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
	color: #0C223D;
	font-weight: 600;
}

input{
    width: 100%;
    height: 40px;
	border: 2px solid #0C223D;
	background: none;
	padding: 10px 10px;
	margin-bottom: 10px;
	color: #0C223D;
	font-size: 15px;
	font-family: 'Noto Serif Georgian', serif;
}

input:focus, input:hover{
	outline: none;
	border-color: #007bff;
}

.navegacao{
    display: flex;
    justify-content: space-between;
}

.navegacao button{
    width: 170px;
    background-color: #0C223D;
    border: 2px solid #fff;
    color: #fff;
    border: none;
}

.swal-text{
    width: 80%;
    color: #0C223D;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;

}
.swal-button {
    margin: 20px auto;
    width: 170px;
    height: 40px;
    font-weight: 600;
    margin-right: 20px;
    letter-spacing: 1px;
    background-color: #0C223D;
    border: 2px solid #fff;
    color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.swal-button:not([disabled]):hover{
    border: none;
    color: #fff;
    background-color: #007bff;
    transition: .2s;
}

button {
    width: 170px;
    height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #0C223D;
    color: #0C223D;
	font-family: 'Quicksand', sans-serif;
}
button:hover {
    border: none;
    color: #fff;
    background-color: #007bff;
    transition: .2s;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table{
    padding-top: 20px;
    width: 100%;
}

table th{
    background-color: #007bff;
    color: #fff;
    border-radius: 2px;
}

table td{
    background-color:#fff;
    color: #0C223D;
}

table th, td{
    text-align: left;
    padding: 5px 8px;
    font-weight: 600;
}

table td img{
    border: none;
    width: 22px;
}

.center{
    text-align: center;
    max-width: 50px;
}

body{
    animation: fromLeft .7s .2s backwards;
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-30px)
    }

    to{
        opacity: 1;
        transform: translateX(0)
}
}